.footer {
    background-color: var(--white-color);
    padding: 40px 0;
    color: #333;
}
.footer .footer-logo {
    font-weight: bold;
    color: #ff5a00;
}
.footer p {
    font-size: 14px;
    margin-bottom: 20px;
}
.footer ul {
    list-style-type: none;
    padding-left: 0;
}
.footer ul li a {
    text-decoration: none;
    color: var(--dark-color);
    font-size: 16px;
    font-weight: 400;
}
.footer ul li a:hover {
    color: var(--primary-color);
}
.social-icons a {
    padding: 9px;
    border-radius: 50%;
    border: 1px solid #D4D4D8;
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
}
.social-icons {
    display: flex;
    align-items: center;
    gap: 12px;
}
ul.footer-ul-space li {
    margin-block: clamp(8px, 1.4vw, 14px);
}

@media screen and (max-width: 991px) {
    .footer-row{
      row-gap: 24px;
    }
}